@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto',sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

img {
    width: 500px;
    height: auto;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 3px 200px;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    column-gap: 15px;
    color: lightgrey;
    font-size: 18px;
}

.secondary {
    color: lightgrey;
    font-size: 18px;
    margin: 10px 0px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}

.section-2 {
    display: flex;
    background-color: #1f2937;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 50px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 34px;
    margin: 10px 0px;
    border-radius: 12px;
    border: 0px;
}